@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    background-color: #0f1536;
    background-image: url("/eclipse_site_sae/public/images/bg_vulgarisation_accueil.jpg");
    background-blend-mode: color-dodge;
    background-size: cover;
}


.video{
    margin-top: 6%;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 80%;
    text-align: center;
}

.contenu {
    display: flex;
    justify-content: center;
}


h1{
    font-size: 47px;
    text-align: center;
    color: white;
}

iframe {
  width: 600px;
  height: 300px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.textdescriptif{
     width: 1070px;
    margin: auto;
}

#equipe{
    margin-top: 6%;
    /* background-image: url(https://wallpapercave.com/wp/wp10676954.jpg); */
    background-blend-mode: darken;
    margin-bottom: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#equipe h1{
    margin-top: -10px;
    margin-bottom: 35px;
}

.infos{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.prenom{
    margin-right: 5px;
}