* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat';
  background-image: url("https://image.lexica.art/full_webp/6d8fb068-f31d-4726-b7b7-bd75bfc339b9");
  background-size: cover;
}

nav li, nav a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}


nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #000000;
}

.flecheD img, .flecheG img {
  height: 125px;
  margin-bottom: -28px;
}

.fleche{
  display: flex;
  justify-content: space-between;
}


div {
  margin: 20px 0 20px 0;
  width: 100%;
}


.shematBrassage img {
  height: 400px;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #000000;
}

footer p {
  color: white;
}


.f_img {

  height: auto;
  
  }
  
  .fiche {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: nowrap;
   }

  
  .f_text {
    margin-left: 210px;
    color: white;
  }
  .f_titre {
    font-family: 'KoHo';
    font-weight: bold;
    font-size: 200%;
    color: white;
  }


   
   .zoom img {
     max-width: 100%;
     max-height:100%;
   }
   

   .text {
    text-shadow:
      1px 1px 2px black,
      0 0 1em blue,
      0 0 0.2em blue;
    color: white;
    font-size: 21px;
    width: 351px;

  }


  .container-img{
    display:block;
    overflow:hidden;
    width: 400px;
}



.container-img img{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 70%;
    
}
.container-img:hover img{
    transform:rotate(5deg) scale(1.08);
}



/* Bouton ajouter au panier */

#ajouter-panier {
  height: 40px;
  width: 200px;
  border: none;
  color: black;
  border-radius: 5px;
  font-family: 'Montserrat';
  background-color: white;
}

#ajouter-panier:hover {
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat';
  background-color: black;
}